header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  margin-bottom: 1px;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  z-index: 10;
  align-items: center;
}

body {
  margin: 0 0;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo img {
  margin-right: 12px;
}

div {
  border: 1px solid black;
}

nav {
  padding-right: 40px;
  display: block;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  color: black;
  align-items: center;
}

.content {
  display: flex;
  padding-top: 116px;
  margin-bottom: 78px;
}

.column {
  display: inline-flex;
  width: 100%;
  overflow: scroll;
  flex-direction: row;
  align-items: stretch;
  margin: 70px 0;
  position: relative;
}

/** .column .<size> specs
  display: flex;
  overflow: scroll;
  flex-direction: column; **/

.large {
  min-width: 630px;
}

.medium {
  min-width: 300px;
}

.small {
  min-width: 240px;
}

.large, .medium, .small {
  margin: 50px 35px 0 0;
}

.small img {
  flex-basis: 240px;
  align-items: flex-start;
  justify-content: center;
}

.caption {
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  flex-basis: auto;
}

.backwards {
  background-image: url(../images/img-fall-backdrop.png);
}

.camera {
  background-image: url(../images/img-hipster-cam.png);
}

.cat {
  background-image: url(../images/img-cat-ceo.png);
}

#phish {
  background-image: url(../images/img-story-main.png);
  font-size: 40px;
  text-align: left;
}

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
